* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.375rem; /*22px root font-size */
    background-color: black;
    opacity: 0.9;
    color: seashell;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    z-index: 999;
    background-color: black;
    border-bottom: 1px solid seashell;
}

.logo {
    height: 50px;
    margin-left: 10px;
    align-items: center;
}

nav li {
    display: inline-flex;
    list-style: none;
    padding: 0 10px;
}

nav a {
    color: seashell;
    text-decoration: underline;
}

#mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: 700px;
    align-items: center;
    margin: 69px 0px;
    background-image: url(./images/img-mission-background.webp);
    background-size: cover;
}

.black-strip {
    background-color: black;
    width: 100%;
}

.black-strip h2, h4 {
padding: 10px 0px;
}

#featured {
    max-width: 1000px;
}

#featured h2, h4 {
    padding: 8px 0;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.frame img {
    max-width: 300px;
    max-height: 200px;
}

.frame p {
    margin-top: 10px;
}

#locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    height: 500px;
    background-image: url(./images/img-locations-background.webp);
    background-size: cover;
    background-position: 50% 15%;
    margin-top: 20px;
}

#locations h2 {
    width: 100%;
    height: min-content;
    position: relative;
    top: 80px;
}

.stores {
    width: 300px;
    height: 230px;
    margin: 15px 20px;
    opacity: 1;
    background-color: black;
}

.stores h3, p {
  padding: 15px 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 1200px;
    max-height: 200px;
    margin: 20px auto;
}

.footer h2, h5, p {
    padding: 15px 0px;
}

.copyright {
    position: relative;
    padding-left: 20px;    
    text-align: left;
}